{% extends 'base.html.twig' %}

{% block title %}Edit RestorerReply{% endblock %}

{% block body %}
    <h1>Edit RestorerReply</h1>

    {{ include('restorer_reply/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_restorer_reply_index') }}">back to list</a>

    {{ include('restorer_reply/_delete_form.html.twig') }}
{% endblock %}
