{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="bloc-search d-flex justify-content-center align-items-center mt-5">
            <div>
                <input type="text">
                <input type="submit" name="rechercher">
            </div>
        </div>
    </div>
    <div class="row">
        {% for restaurant in restaurants %}
            <div class="col-3 p-3">
                {% include 'restaurant/card.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
