main{
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 40px;
    margin-left: 10px;
}

.navbar-brand:hover {
    color:   #aee24e;
}
